* { margin-left: 0 auto; margin-right: 0 auto;  box-sizing: border-box;}
.flex { display: flex; position: relative;}
.col-2 { width: 16.66%; text-align: center;}
.col-6 {width: 50%; text-align: center; position: relative;}
/* .center {position: absolute; font-size: 800px; color: white; top: 50%;} */
span{ position: absolute;
    top: 30% ;
    left: 50%;
    font-size: 600%;
    color: white;
    transform: translate(-50% , -50%);
    } 
 p {text-align: 50px left; font-size: 20px;}   
 .button { background-color: white; border: 2px solid black; color: black; padding: 16px 32px; text-align:
    center; display: ruby; margin: 4px 2px; transition-duration: 0.5s; cursor: pointer;}    
.button2:hover { background-color: rgb(209, 214, 207); color:  white;}
.flex2 { display: flex; position: relative;margin-left: 0 auto; margin-right: 0 auto; display: bjh;
       background-size: contain; background-attachment: fixed; background-image: url(dark.jpeg);color: white; }
.col-4 {width: 33.33%; text-align: center;}
a  { text-decoration: none; color: tomato;}
a:hover { color:rgb(216, 107, 88); ;}
.flex3 { display: flex; position: relative; background-size: contain; background-attachment: fixed; background-image: url(back.jpg); color: white; 
    width: 100%; height: auto; margin: auto; padding: 100px; }
    .flex4 { display: flex;  background-color: rgb(247, 250, 250); height: 190px; width: 80%; text-align: center; padding: 30px; margin:auto ;}
    .button3 {background-color: black; border: 2px solid black; color: white; padding: 16px 32px; text-align:
        center; display: block  ; margin: 4px 2px; transition-duration: 0.5s; cursor: pointer;}    
        .button4:hover { opacity: 0.7;}  
        .b {text-decoration: none; color: black;} 
        .b:hover { opacity: 0.8; color: rgb(24, 18, 18);} 
.col-12 {position: absolute; width: 60%; justify-content: center; align-content: center;}
